/*
Try to keep most of your CSS in this separate file
so that the HTML file stays relatively uncluttered
*/

h1 {
	font-family: 'PT Mono',
	sans-serif; color: black; 
	margin-top: 50px;
	text-align: center;
}
